body {
  margin: 40px;
}

/* width 100%
height auto; */

.board-layout {
    display: grid;
    grid-gap: 10px;
		grid-template-columns: 100px 100px 100px;
		background-color: #FFFFFFF;
		color: #444;
	}

	.board {
		background-color: #444;
		color: #fff;
		border-radius: 5px;
		padding: 20px;
		font-size: 150%;
	}

	.space-1 {
		grid-column: 1;
		grid-row: 1;
	}
	.space-2 {
		grid-column: 2;
		grid-row: 1;
	}
	.space-3 {
		grid-column: 3;
		grid-row: 1;
	}
	.space-4 {
		grid-column: 1;
		grid-row: 2;
	}
	.space-5 {
		grid-column: 2;
		grid-row: 2;
	}
	.space-6 {
		grid-column: 3;
		grid-row: 2;
	}
	.space-7 {
		grid-column: 1;
		grid-row: 3;
	}
	.space-8 {
		grid-column: 2;
		grid-row: 3;
	}
	.space-9 {
		grid-column: 3;
		grid-row: 3;
	}
