html,
body {
  min-height: 100%;
  height: 100%;
  background-color: #f8f3eb;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  display: flex;
  justify-content: center;
}

.player-one-side {
  background-color: #c3edea;
  grid-column: 1;
  width: 50%;
  padding-top: 5rem;
  text-align: center;
}

.harper-with-tongue {
  height: 7rem;
  width: 7rem;
  border-radius: 70%;
}

.grid-template {
  position: relative;
  grid-column: 2;
  height: 100%;
  width: 100%;
}

.declare-turn {
  text-align: center;
  padding-top: 3rem;
}

.grid-transparent {
  width: 100%;
  height: 70%;
  margin-top: 2rem;
  position: absolute;
}

.board-layout {
    display: grid;
    grid-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
		background-color: #FFFFFFF;
		color: #444;
    grid-column: 2;
    width: 100%;
    height: 70%;
    margin-top: 3rem;
    position: relative;
    z-index: 1;
	}

	.board {
		background-color: transparent;
		color: #fff;
		border-radius: 5px;
		padding: 20px;
		font-size: 150%;
	}

	.space-0 {
		grid-column: 1;
		grid-row: 1;
	}
	.space-1 {
		grid-column: 2;
		grid-row: 1;
	}
	.space-2 {
		grid-column: 3;
		grid-row: 1;
	}
	.space-3 {
		grid-column: 1;
		grid-row: 2;
	}
	.space-4 {
		grid-column: 2;
		grid-row: 2;
	}
	.space-5 {
		grid-column: 3;
		grid-row: 2;
	}
	.space-6 {
		grid-column: 1;
		grid-row: 3;
	}
	.space-7 {
		grid-column: 2;
		grid-row: 3;
	}
	.space-8 {
		grid-column: 3;
		grid-row: 3;
	}

.player-two-side {
  grid-column: 3;
  background-color: #c3edea;
  width: 50%;
  text-align: center;
  padding-top: 5rem;
}

.harper-with-smile {
  height: 7rem;
  width: 7rem;
  border-radius: 70%;
}

.small {
  height: 5rem;
  width: 5rem;
  border-radius: 70%;
}
